footer {
    bottom: 0;
    background-image: url('./../../assets/darthvader_2x.jpg');
    background-position-x: center;
    background-position-y: center;
    color: $color-gris;
    background-color: #181818;
    background-size: contain;
    background-repeat: no-repeat;

    @include media(phone) {
        background-size: cover;
    }

    article {
        padding-top: 5em;
        padding-bottom: 5em;

        @include media(phone) {
            padding-top: 0;
            padding-bottom: 0;
        }
        
        header {
            text-align: center;

            @include media(phone) {
                display: none;
            }
        }

        section {
            padding-top: 3em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include media(phone) {
                padding: 2em 0;
                grid-template-columns: none;

                #follow {
                    padding-top: $distance-mobile;
                    align-items: center;
                }
            }
            
            a {
                color: $color-gris;
                line-height: 2.5em;
                font-size: 12px;
            }

            div {
                text-align: center;
            }

            div:nth-last-of-type(1) {
                p {
                    padding-bottom: 0.2em;
                }

                div {
                    a:nth-child(2) {
                        padding: 0 2.3em;
                    }
                }

                @include media(phone) {
                    grid-column: 1 / span 2;
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                }
            }
        }
    }

}