.poster {
    width: 100vw;
    background-size: cover;
    background-color: $color-black;
}

#poster-1 {
    background-image: url('/assets/kiloren-2x.jpg');
    height: 500px;

    @include media(phone) {
        background-image: url('/assets/kiloren.jpg');
        background-position: 50% 50%;
    }
}

#poster-2 {
    background-image: url('/assets/stormtroopers-2x.jpg');
    height: 250px;

    @include media(phone) {
        background-image: url('/assets/stormtroopers.jpg');
        background-position: 50% 50%;
    }
}