$color-black: #000000;
$color-white: #ffffff;
$color-gris: #9B9B9B;


$font-size-18px: 18px;

$height-navigation: 3.9rem;
$distance: 8.7em;
$padding-container: 0 $distance;
$distance-mobile:  2.3em;
$padding-container-mobile: 0 $distance-mobile;